{% for user in users %}
	<div class="card mb-3">
		<div class="row g-0">
			<div class="col-4 d-flex align-items-center justify-content-center my-bg-green rounded-start">
				<img class="w-50 rounded-circle card_user-profil m-3" src="{{ asset('assets/img/profil/img_profil.jpg') }}" alt="">
			</div>
			<div class="col-8">
				<div class="card-body">
					<h5 class="card-title">{{ user.firstname }}
						{{ user.lastname }}</h5>
					{% if 'ROLE_ADMIN' in user.roles %}
						<button class="btn my">Administrateur</button>
					{% endif %}
					{% if 'ROLE_USER' in user.roles %}
						<button class="btn">Alumni</button>
					{% endif %}
					<p class="card-text">{{ user.bio }}</p>
					<p class="card-text">
						<div class="d-flex justify-content-end align-items-center">
							<button class="btn my-btn-green me-5">
								<a href="{{ path('app_profile', {'id': user.id}) }}" class="text-white text-decoration-none">Voir le profil</a>
							</button>
							<a href="" class="btn me-5">Suivre</a>
						</div>

					</p>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
