{% extends 'base.html.twig' %}

{% block title %}Accueil Pacs : votre espace Alumni Colombbus, où les anciens élèves se retrouvent et partagent leurs expériences
{% endblock %}

{% block body %}
	{# BANNIERE PHOTO #}
	<div class="container">
		<div class="card text-light rounded-0">
			<img src="{{ asset('assets/img/default/banner.jpg') }}" class="card-img rounded-0" alt="...">
			{% if app.user %}
				<div class="my-overlay-gradient card-img-overlay d-flex">
					<h1 class="card-title mt-auto text-uppercase mb-5">
						Boostez votre carrière
						<br>grâce au réseau Colombbus Alumni</h1>
				</div>
			{% endif %}
		</div>
	</div>


	{# MULTIPLE CAROUSSEL #}
	{% if app.user == false %}
		{% include "components/carrousel_cards.twig" %}
	{% else %}
		{% include "components/carrousel_user.twig" %}
	{% endif %}
	{# <div class="d-flex">
		<div class="rounded-3 row">
			<div class="col-4 my-bg-red">
				<img class="w-100 rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
			</div>
			<div class="col-8 p-4 text-center">
				<div class="text-center">
					<h4 class="my-2">NOM PRENOM</h4>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo? Illum error voluptates sit aspernatur repellendus hic expedita iure vitae possimus assumenda quas, ad rem a placeat nisi, enim veritatis.</p>
			</div>
		</div>
	</div> #}
	{# Section 4 Cards colors  #}
	{% if app.user %}
		<div class="container-fluid my-5">
			<div class="container">
				<div
					class="row row-cols-2">
					{# <div class="grid gap-3 "> #}
					<div class="p-0">
						<div class="card m-4 my-bg-red-pastel">
							<div class=" card-body">
								<div class="row">
									<span class="w-auto my-text-red">
										{{ ux_icon('f7:calendar', {'width': '50px', 'height': '50px'}) }}
									</span>
									<h3 class="w-auto">AGENDA</h3>
								</div>
								<p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur accusamus quo ad aliquid voluptate expedita ea itaque ut! Consectetur quaerat nam mollitia sunt culpa voluptatem velit vitae consequatur. Obcaecati, perspiciatis!</p>
								<div class="p-0 m-0 text-center">
									<button class="btn my-btn-red my-bg-red text-light fw-bolder my-3 ">Trouver un évènement</button>

								</div>
							</div>
						</div>
					</div>

					<div class="p-0">
						<div class="card m-4 my-bg-green-pastel">
							<div class=" card-body ">
								<div class="row">
									<span class="w-auto my-text-green">
										{{ ux_icon('bxs:contact', {'width': '50px', 'height': '50px'}) }}
									</span>
									<h3 class="w-auto">ANNUAIRE</h3>
								</div>
								<p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur accusamus quo ad aliquid voluptate expedita ea itaque ut! Consectetur quaerat nam mollitia sunt culpa voluptatem velit vitae consequatur. Obcaecati, perspiciatis!</p>
								<div class="p-0 m-0 text-center">
									<button class="btn my-btn-green my-bg-green text-light fw-bolder my-3">Trouver un alumni</button>
								</div>
							</div>
						</div>
					</div>

					<div class="p-0">
						<div class="card m-4 my-bg-yellow-pastel">
							<div class=" card-body ">
								<div class="row">
									<span class="w-auto my-text-yellow">
										{{ ux_icon('fa:graduation-cap', {'width': '50px', 'height': '50px'}) }}
									</span>
									<h3 class="w-auto">FORMATION</h3>
								</div>
								<p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur accusamus quo ad aliquid voluptate expedita ea itaque ut! Consectetur quaerat nam mollitia sunt culpa voluptatem velit vitae consequatur. Obcaecati, perspiciatis!</p>
								<div class="p-0 m-0 text-center">
									<button class="btn my-btn-yellow my-bg-yellow text-light fw-bolder my-3">Trouver une formation
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="p-0">
						<div class="card m-4 my-bg-blue-pastel">
							<div class=" card-body ">
								<div class="row">
									<span class="w-auto my-text-blue">
										{{ ux_icon('fa:graduation-cap', {'width': '50px', 'height': '50px'}) }}
									</span>
									<h3 class="w-auto">EMPLOI</h3>
								</div>
								<p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur accusamus quo ad aliquid voluptate expedita ea itaque ut! Consectetur quaerat nam mollitia sunt culpa voluptatem velit vitae consequatur. Obcaecati, perspiciatis!</p>
								<div class="p-0 m-0 text-center">
									<button type="button" class="btn my-btn-blue my-bg-blue text-light fw-bolder my-3">Trouver un emploi
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{# SINGLE CAROUSSEL #}
	{# ça va être #}
	{% if app.user == false %}
		<div class="container-fluid my-5">
			<div class="container">
				<div id="carouselExampleAutoplaying" class="carousel carousel-dark slide position-relative" data-bs-ride="true">
					<div
						class="carousel-inner">

						{# {% if user == false %} #}
						<div class="carousel-item active d-flex gap-3">
							<img class="w-75 mx-auto" src="{{ asset("assets/img/default/Capture d'écran 2024-06-26 162042.png") }}" class="d-block w-100" alt="...">

						</div>


					</div>
					<button class="carousel-control-prev accordion my-text-dark" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
						<span class="carousel-control-prev-icon my-text-dark" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next my-text-dark" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
						<span class="carousel-control-next-icon my-text-dark" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	{% endif %}


	{# --------------------------------- #}
	<section class="bg-yellow text-white text-center">
		<div class="container px-4 py-5" id="featured-3">
			<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
				<div class="feature col">
					<div class="text-center">
						{{ ux_icon('fa:graduation-cap', {'width': '105px', 'height': '105px'}) }}
					</div>
					<h3 class="fs-2">ALUMNI</h3>
					<p class="fs-3 fw-bold">{{ countUsers }}</p>
				</div>
				<div class="feature col">
					<div class="text-center">
						{{ ux_icon('ion:calendar-sharp', {'width': '100px', 'height': '100px'}) }}
					</div>
					<h3 class="fs-2">EVENEMENT</h3>
					<p class="fs-3 fw-bold">{{ countEvents }}</p>
				</div>
				<div class="feature col">
					<div class="text-center">
						{{ ux_icon('fa-solid:hands-helping', {'width': '100px', 'height': '100px'}) }}
					</div>
					<h3 class="fs-2">OFFRE D'EMPLOI</h3>
					<p class="fs-3 fw-bold">{{ countEmplois }}</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
