{% extends 'profile/profile_layout.html.twig' %}
{% block content %}
	{% if app.user.id == id %}
		<h2 class="border-bottom border-3 my-border-green my-text-green">Mon profil</h2>

		{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
		{{ form_errors(form) }}

		<div>
			<label for="picture">Photo de profil</label>
			{{ form_widget(form.picture) }}
		</div>

		<div>
			<label for="cover">Photo de couverture</label>
			{{ form_widget(form.cover) }}
		</div>

		<div class="row">
			<div class="col-md-6">
				<label for="firstname">Prénom<span class="my-required">*</span></label>
				{{ form_widget(form.firstname) }}
				{{ form_errors(form.firstname) }}
			</div>
			<div class="col-md-6">
				<label for="lastname">Nom<span class="my-required">*</span></label>
				{{ form_widget(form.lastname) }}
			</div>
		</div>

		<div>
			<label for="email">Adresse e-mail<span class="my-required">*</span></label>
			{{ form_widget(form.email) }}
		</div>

		<div>
			<label for="phoneNumber">Numéro de téléphone</label>
			{{ form_widget(form.phoneNumber) }}
		</div>

		<div>
			<label for="bio">Biographie</label>
			{{ form_widget(form.bio) }}
		</div>

		<div>
			<label for="cv">CV</label>
			{{ form_widget(form.cv) }}
		</div>


		<div class="row align-items-center">
			<div class="col-md-6">
				<label for="dateOfBirth">Date de naissance</label>
				{{ form_widget(form.dateOfBirth) }}
			</div>
			<div class="col-md-6">
				<label for="gender">Genre<span class="my-required">*</span></label>
				{{ form_widget(form.gender) }}
			</div>
		</div>

		<div>
			<label for="studyField">Domaine d'étude<span class="my-required">*</span></label>
			{{ form_widget(form.studyField) }}
		</div>

		<div>
			<label for="certificateObtention">Obtention du certificat<span class="my-required">*</span></label>
			{{ form_widget(form.certificateObtention) }}
		</div>

		<div>
			<label for="city">Ville</label>
			{{ form_widget(form.city) }}
		</div>

		<div>
			<label for="country">Pays</label>
			{{ form_widget(form.country) }}
		</div>

		<div>
			<label for="socialLinks">Liens de réseaux sociaux</label>
			<div id="social-links-list" data-prototype="{{ form_widget(form.socialLinks.vars.prototype)|e('html_attr') }}">
				{% for socialLink in form.socialLinks %}
					<div class="social-link-item">
						{{ form_row(socialLink) }}
					</div>
				{% endfor %}
			</div>
			<button type="button" class="btn my-bg-green-medium" id="add-social-link">Ajouter un lien de réseau social</button>
		</div>

		<div class="text-center">
			<button type="submit" class="btn my-bg-green-medium mt-4 mb-2 fw-bolder px-5 fs-5">Sauvegarder</button>
		</div>

		{{ form_end(form) }}

		

	{% else %}
		<div class="menu_container list-unstyled bg-white p-2 rounded">
			<div class="border-bottom border-3 my-border-green my-text-green d-flex align-items-center gap-3">
				<h2>Profil:
				</h2>
				<p class="m-0">{{ user.firstname|default('...') }}</p>
			</div>
			<ul class="list-unstyled">
				<li>
					<strong class="my-text-green fs-6">Prénom:
					</strong>
					{{ user.firstname|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Nom:
					</strong>
					{{ user.lastname|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Adresse e-mail:
					</strong>
					{{ user.email|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Numéro de téléphone</strong>
					{{ user.phoneNumber|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Biographie:
					</strong>
					{{ user.bio|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">CV:
					</strong>
					{{ user.cv|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Date de naissance:
					</strong>
					{{ user.dateOfBirth|date('Y-m-d')|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Genre:
					</strong>
					{{ user.gender? user.gender.getLabel() : '...' }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Domaine d'étude:
					</strong>
					{{ user.studyField|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Obtention du certificat:
					</strong>
					{{ user.certificateObtention|date('Y-m-d')|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Ville:
					</strong>
					{{ user.city|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Pays:
					</strong>
					{{ user.country|default('...') }}
				</li>
				<li>
					<strong class="my-text-green fs-6">Liens de réseaux sociaux:
					</strong>
					<ul>
						{% for socialLink in user.socialLinks %}
							{# <li>{{ socialLink.url|default('...') }}</li> #}
							{% if socialLink.url matches '/github.com/' %}
								<li>
									<a target="_blank" href="{{ socialLink.url }}">
										<i class="fa-brands fa-github fs-4"></i>
									</a>
								</li>
							{% endif %}
							{% if socialLink.url matches '/linkedin.com/' %}
								<li>
									<a target="_blank" href="{{ socialLink.url }}">
										<i class="fa-brands fa-linkedin fs-4"></i>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	{% endif %}

	<script>
			{# document.addEventListener('DOMContentLoaded', function () { #}
			var collectionHolder = document.getElementById('social-links-list');
			var addLinkButton = document.getElementById('add-social-link');

			addLinkButton.addEventListener('click', function (e) {
			e.preventDefault();
			if (collectionHolder.querySelectorAll('.social-link-item').length < 3) {
			addSocialLinkForm(collectionHolder);
			} else {
			alert('Vous ne pouvez ajouter que 5 liens de réseaux sociaux.');
			}
			});

			// Set the index to the number of current inputs
			collectionHolder.dataset.index = collectionHolder.querySelectorAll('.social-link-item').length;
			{# }); #}

			function addSocialLinkForm(collectionHolder) { // Get the data-prototype explained earlier
			var prototype = collectionHolder.getAttribute('data-prototype');

			// Get the new index
			var index = collectionHolder.dataset.index;

			// Replace '__name__' in the prototype's HTML to
			// instead be a number based on how many items we have
			var newForm = prototype.replace(/__name__/g, index);

			// Increase the index with one for the next item
			collectionHolder.dataset.index = parseInt(index) + 1;

			// Display the form in the page before the "Add a link" link
			var newFormDiv = document.createElement('div');
			newFormDiv.className = 'social-link-item';
			newFormDiv.innerHTML = newForm;
			collectionHolder.appendChild(newFormDiv);
			}
		</script>
{% endblock %}
