<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouvelle offre d'emploi à valider</title>
</head>
<body>
       <h1>Prévisualisation de l'offre d'emploi</h1>
    <p><strong>Intitulé du poste :</strong> {{ emploi.name }}</p>
    <p><strong>Description :</strong> {{ emploi.description|raw }}</p> <!-- Utilisation de |raw pour le contenu HTML -->
    <p><strong>Entreprise :</strong> {{ emploi.entreprise }}</p>
    <p><strong>Ville :</strong> {{ emploi.city }}</p>
    <p><strong>Code postal :</strong> {{ emploi.zipcode }}</p>
    <p><strong>Lien de l'annonce :</strong> <a href="{{ emploi.link }}">{{ emploi.link }}</a></p>
    
    <p><strong>Compétences :</strong></p>
    <ul>
        {% for skill in emploi.skills %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>

    <p><strong>Domaine d'activité :</strong> {{ emploi.field }}</p>
    <p><strong>Date de publication :</strong> {{ emploi.publicationDate|date('d/m/Y') }}</p>
    <p><strong>Date limite de l'offre :</strong> {{ emploi.limitOffer ? emploi.limitOffer|date('d/m/Y') : 'Non spécifiée' }}</p>

    <p><strong>Télétravail :</strong> {{ emploi.teleworking ? emploi.teleworking.getLabel() : 'Non spécifié' }}</p>

    <p><strong>Type de contrat :</strong></p>
    <ul>
        {% for contract in emploi.contract %}
            <li>{{ contract }}</li>
        {% endfor %}
    </ul>

    <p><strong>Statut :</strong> En attente de validation</p>
    <p>
        <a href="{{ url('admin_job_validation', { id: emploi.id, action: 'valide' }) }}">Approuver</a> |
        <a href="{{ url('admin_job_validation', { id: emploi.id, action: 'refuse' }) }}">Rejeter</a>
    </p>
</body>
</html>
