<div class="col-lg-3 col-md-6 col-sm-12 min-vh-100 p-1">

	<div
		class="container-fluid my-bg-gray rounded-2 p-1 h-100 w-100">
		{# Img cover #}
		<img class="my-img-cover w-100" src="{% if app.user and app.user.cover %}{{ asset('uploads/' ~ app.user.cover) }}{% else %}{{ asset('assets/img/default/cover-default.jpg') }}{% endif %}" alt="Profile image cover">
		<img class="my-img-profile shadow-sm mx-auto d-block rounded-circle ratio ratio-1x1" src="{% if app.user and app.user.picture %}{{ asset('uploads/' ~ app.user.picture) }}{% else %}{{ asset('assets/img/default/user-default.jpg') }}{% endif %}" alt="Photo de profil" class="rounded-circle user-profil">
		<h3 class="text-center">{{user.firstname}}
			{{user.lastname}}</h3>
		<a class="d-block text-center" href="mailto:{{user.email}}">{{user.email}}</a>
		<p class="text-center">{{user.bio|striptags|u.truncate(150, '...') }}</p>

		{# Profile details #}
		<ul class="menu_container list-unstyled bg-white p-2 rounded">
<<<<<<< HEAD
			<h2 class="border-bottom border-3 my-border-clr-main my-text-green">Profil</h2>
			<li><span class="fw-bolder">CV:</span>{{ user.cv|length > 15 ? user.cv|slice(0, 15) ~ '...' : user.cv ?: '...' }}</li>
			<li><span class="fw-bolder">Ville:</span>{{ user.city ?: '...' }}</li>
			<li><span class="fw-bolder">Pays:</span>{{ user.country ?: '...' }}</li>
			<li><span class="fw-bolder">Compétences:</span>{{ user.studyField ?: '...' }}</li>
=======
			<h2 class="border-bottom border-3 my-border-green my-text-green ">Profil</h2>
			<li><span>CV:</span>...</li>
			<li><span>Ville:</span>{{user.city}}</li>
			<li><span>Pays:</span>{{user.country}}</li>
			<li><span>Compétences:</span>{{user.studyField}}</li>
>>>>>>> ef498c780431e1dcaaa049d776f0a9148fc3932d
			<div class="d-flex gap-3 my-1">
				<li><a target="_blank" href="https://github.com/"><i class="fa-brands fa-github fs-4"></i></a></li>
				<li><a target="_blank" href="https://www.linkedin.com"><i class="fa-brands fa-linkedin fs-4"></i></a></li>
			</div>
			{# <div class="d-flex gap-3 my-1">
				{% for link in user.links %}
					{% if link.url matches '/github.com/' %}
						<li><a target="_blank" href="{{ link.url }}"><i class="fa-brands fa-github fs-4"></i></a></li>
					{% endif %}
					{% if link.url matches '/linkedin.com/' %}
						<li><a target="_blank" href="{{ link.url }}"><i class="fa-brands fa-linkedin fs-4"></i></a></li>
					{% endif %}
				{% endfor %}
			</div> #}
		</ul>


		{# Les options de menu côté gouche #}
		<ul class="menu_container list-unstyled bg-white p-2 rounded">
			<h2 class="border-bottom border-3 my-border-green my-text-green">Menu</h2>
			<li>
				<a href="{{path('my_feeds', {'id': user.id})}}" class="aside-menu-item {{app.current_route  == 'my_feeds' ? 'my-active' : ''}} btn my-1">Fil d'actualité</a>
			</li>
			<li>
				<a href="{{path('my_sources', {'id': user.id})}}" class="aside-menu-item {{app.current_route  == 'my_sources' ? 'my-active' : ''}} btn my-1">Ressources & bibliothéque</a>
			</li>
			<li>
				<a href="{{path('my_profile', {'id': user.id})}}" class="aside-menu-item {{app.current_route  == 'my_profile' ? 'my-active' : ''}} btn my-1">Mon profil</a>
			</li>
			<li>
				<a href="{{path('my_likes', {'id': user.id})}}" class="aside-menu-item {{app.current_route  == 'my_likes' ? 'my-active' : ''}} btn my-1">Mes likes</a>
			</li>
			<li>
				<a href="{{path('my_abonnement', {'id': user.id})}}" class="aside-menu-item {{app.current_route  == 'my_abonnement' ? 'my-active' : ''}} btn my-1">Abonnement</a>
			</li>
		</ul>

	</div>
</div>
