{# <div class="container-fluid border-top border-dark border-bottom py-5 mt-5"> #}
<div class="container-fluid py-5 mt-2 ">
	<div class="container">
		<h2 class="hr mb-4">
			Les nouveautés sur la plateforme
		</h2>

		<div class="row justify-content-between">


			<div class="col-lg-3 col-md-12 col-sm-12 mt-lg-4 mt-sm-5">
				<h5 class="my_slider_tilte_height">Les derniers alumni</h5>
				<div id="carouselExampleIndicators1" class="carousel carousel-dark slide shadow-sm rounded-3 my-ratio">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner rounded-3">
						{% for user in lastUsers %}
							<div class="carousel-item {{ loop.index == 1 ? 'active' : '' }}">

								<div class="d-flex">
									<div class="col-4 d-flex align-items-center justify-content-center my-bg-green my-ratio">
										<img class="w-75 rounded-circle card_user-profil m-3" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="Image profile carousel">
									</div>
									<div class="col-8 p-4 text-center">
										<div class="text-center">
											<h6 class="my-2">{{user.email}}</h6>
										</div>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?</p>
                                        <button class="btn"><a href="">Voir le profil</a></button>
									</div>
								</div>
							</div>

						{% endfor %}
					</div>

				</div>
			</div>


			<div class="col-lg-3 col-md-12 col-sm-12 mt-lg-4 mt-sm-5">
				<h5 class="my_slider_tilte_height">Les dernières formations</h5>
				<div id="carouselExampleIndicators2" class="carousel carousel-dark slide shadow-sm rounded-3 my-ratio">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner rounded-3">

						{% for formation in lastFormations %}
							<div class="carousel-item {{ loop.index == 1 ? 'active' : '' }}">

								<div class="d-flex">
									<div class="col-4 d-flex align-items-center justify-content-center my-bg-yellow my-ratio">
										<img class="w-75 d-block mx-auto rounded-circle card_user-profil m-3" src="{{asset('assets/img/colombbusLogo.jpg')}}" alt="logo partenaires">
									</div>
									<div class="col-8 p-4 text-center">
										<div class="text-center">
											<h6 class="my-2">{{formation.name}}</h6>
										</div>
										<p>{{ formation.description|striptags|u.truncate(50) }} ...</p>
                                        <button class="btn"><a href="">Voir plus</a></button>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

				</div>
			</div>


			<div class="col-lg-3 col-md-12 col-sm-12 mt-lg-4 mt-sm-5">
				<h5 class="my_slider_tilte_height">Les dernières offres d'emploi</h5>
				<div id="carouselExampleIndicators3" class="carousel carousel-dark slide shadow-sm rounded-3 my-ratio">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner rounded-3">
						{% for emploi in lastEmplois %}
							<div class="carousel-item {{ loop.index == 1 ? 'active' : '' }}">

								<div class="d-flex">
									<div class="col-4 d-flex align-items-center justify-content-center my-bg-blue my-ratio">
										<img class="w-75 d-block mx-auto rounded-circle card_user-profil m-3" src="{{asset('assets/img/10MW.png')}}" alt="">
									</div>
									<div class="col-8 p-4 text-center">
										<div class="text-center">
											<h6 class="my-2">{{emploi.name}}</h6>
										</div>
										<p>{{ emploi.description|striptags|u.truncate(50) }} ...</p>
                                        <button class="btn"><a href="">Voir plus</a></button>
									</div>
								</div>
							</div>
							
						{% endfor %}
					</div>

				</div>
			</div>


		</div>

	</div>
</div>
