<div class="container-fluid">
	<div class="container">
		<h2>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quibusdam!
		</h2>

		<div class="row justify-content-between">

			<div class="col-3">
				<div id="carouselExampleIndicators1" class="carousel carousel-dark slide shadow-sm">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">

							<div class="rounded-3 d-flex">
								<div class="col-4 d-flex align-items-center justify-content-center my-bg-red">
									<img class="w-75 rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo? </p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-flex">


								<div class="col-4 d-flex align-items-center my-bg-red">
									<img class="w-75 d-block mx-auto rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-flex">
								<div class="col-4 d-flex align-items-center my-bg-red">
									<img class="w-75 d-block mx-auto rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-3 px-0">
				<div id="carouselExampleIndicators2" class="carousel carousel-dark slide shadow-sm">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">

							<div class="d-flex">
								<div class="col-4 d-flex align-items-center justify-content-center my-bg-red">
									<img class="w-75 d-block mx-auto rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-flex">

							
								<div class="col-4 d-flex align-items-center justify-content-center my-bg-red">
									<img class="w-75 d-block mx-auto rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-flex">
								<div class="col-4 d-flex align-items-center justify-content-center my-bg-red">
									<img class="w-75 d-block mx-auto rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-3 px-0">
				<div id="carouselExampleIndicators3" class="carousel carousel-dark slide shadow-sm">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">

							<div class="d-flex">
								<div class="col-4 d-flex align-items-center justify-content-center my-bg-red">
									<img class="w-75 d-block mx-auto rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?.</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-flex">

							
								<div class="col-4 d-flex align-items-center justify-content-center my-bg-red">
									<img class="w-75 d-block mx-auto rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="d-flex">
								<div class="col-4 d-flex align-items-center justify-content-center my-bg-red">
									<img class="w-75 d-block mx-auto rounded-circle card_user-profil" src="{{asset('assets/img/profil/img_profil.jpg')}}" alt="">
								</div>
								<div class="col-8 p-4 text-center">
									<div class="text-center">
										<h4 class="my-2">NOM PRENOM</h4>
									</div>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, explicabo?</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>

	</div>
</div>
