<header class="my-bg-green">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark" aria-label="Thirteenth navbar example">
			<div class=" container-fluid d-flex align-items-center justify-content-between menuBu">

				<div class="d-flex justify-content-between">
					<a class="navbar-brand col" href="{{ path('app_main') }}">
						<img src="{{ asset('assets/img/alumni_logo.svg') }}" alt="Logo Alumni" class="custom-logo">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse row justify-content-between" id="navbarsExample11">

					{% if app.request.attributes.get('_route') != 'app_login' %}
						<ul class="navbar-nav col-lg-4 justify-content-lg-center gap-1">

							<li class="nav-item">
								<a class="nav-link rounded-2 my-link-item-hover {{app.current_route  == 'app_aganda' ? 'my-active' : ''}}" aria-disabled="true" {% if app.user %} href="#" {% else %} data-bs-toggle="modal" data-bs-target="#exampleModal" {% endif %}>Agenda</a>
							</li>
							<li
								class="nav-item">
								{# <a class="nav-link" aria-disabled="true" href="#">Annuaire</a> #}
								<a class="nav-link rounded-2 my-link-item-hover" aria-disabled="true" {% if app.user %} href="{{path('app_directory')}}" {% else %} data-bs-toggle="modal" data-bs-target="#exampleModal" {% endif %}>Annuaire</a>
							</li>
							<li class="nav-item">
								<a class="nav-link rounded-2 my-link-item-hover" aria-disabled="true" {% if app.user %} href="#" {% else %} data-bs-toggle="modal" data-bs-target="#exampleModal" {% endif %}>Emplois</a>
							</li>
							<li class="nav-item">
								<a class="nav-link rounded-2 my-link-item-hover" aria-disabled="true" {% if app.user %} href="#" {% else %} data-bs-toggle="modal" data-bs-target="#exampleModal" {% endif %}>Formations</a>
							</li>
							{# {% endif %} #}
						</ul>
						<div class="d-flex col justify-content-lg-end align-items-center position-relative">
							{% if app.user %}
								<div class="icon-container mx-0">
									<i class="icon bi bi-people-fill"></i>
									{# <span class="bg-success rounded-circle text-light py-0 px-1 fs-6 position-absolute top-0 end-0 mr-1 ">{{usersConnected}}</span> #}
									<div
										class="icon-container position-relative ms-0 onlineSpan">
										{# <i class="icon bi bi-people-fill"></i> #}
										<span class="bg-success rounded-circle text-light py-0 px-1 position-absolute bottom-0 start-0 ms-0">23</span>
									</div>
								</div>
								<div
									class="profile-picture m-0 me-3">
									{# {% if app.user %} #}
									<a href="{{ path('app_profile', {'id': app.user.id}) }}" data-toggle="tooltip" title="Voir le profil">
										<img src="{{ asset('assets/img/profil/img_profil.jpg') }}" alt="Photo de profil" class="rounded-circle user-profil">
									</a>
								</div>
							{% else %}
								<div class="profile-picture m-0 me-3">
									<a href="{{path('app_login')}}">
										<i class="icon bi bi-person-circle"></i>
									</a>

								</div>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<div>
									<a class="text-white text-decoration-none me-3" href="{{path('admin')}}">
										<i class="icon fa-solid fa-chart-line "></i>
									</a>
								</div>

							{% endif %}


							{% if app.user %}
								<div class="icon-container mx-0">
									<a href="{{path('app_logout')}}">
										<i class="icon fa-solid fa-arrow-right-from-bracket"></i>
									</a>
								</div>
							{% endif %}

						</div>
					{% endif %}
				</div>
			</div>
		</nav>
	</div>
</header>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Demande d'accès</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Veuillez vous connecter pour accéder au contenu de cette page
			</div>
			<div
				class="modal-footer">
				{# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
				<a href="{{path('app_login')}}" type="button" class="btn btn-primary">Connectez-vous</a>
			</div>
		</div>
	</div>
</div>
